/*
 * Style twaks
 * --------------------------------------------------
 */

 .iframe-modal{
  width:80%;
  max-height:80%;
}
.iframe-inner-modal{
  width:100%;
  height:100%;
}
.iframe{
  width:100%;
  height:100%;
}
.form_add_new_course{
  max-width: 800px;
}
.focusedInput {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}
body {
  font-size:13px;
  padding-top: 50px;
}
@media print{
  body
  {
    padding:0;
  }
}
footer p{
  margin:20px 0;
  padding:0 15px;
}
.editable{
  width:100%; height:auto; min-height:420px; border:1px solid silver; padding:10px;
}
.view_dimension{
  width:250px;
  height:250px;
}
.bs-sidebar h4{
  margin-left:5px;
  text-transform: uppercase;
}
.update{
  font-style: italic;
}
.table>tbody>tr>td{
  vertical-align: middle;
  cursor: pointer;
}
.row{
  margin-left:0;
  margin-right: 0;
}
.notifications{
  right: 0px;
}
#ques_theory, #ques_lab{
  margin-top: 20px;
}
/*
 * Off Canvas
 * --------------------------------------------------

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

 /* By default it's not affixed in mobile views, so undo that */
 .bs-sidebar.affix {
  position: static;
  height: 100%;
  margin-left: -15px; 
}

/* First level of nav */
.bs-sidenav {
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  /*background-color: #f7f5fa;*/
  background-color: #ffffff;
  border-radius: 0px;
  height: 100%;
  border-right: 1px silver solid;
  overflow: hidden;
}

/* All levels of nav */
.bs-sidebar .nav > li {
  display: block;
  color: #716b7a;
  padding-right:20px;
}
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 2px dotted #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    /*    width: 303px;*/
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    /*top: 80px;*/
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px){
  .bs-sidebar.affix, .bs-sidebar.affix-bottom {
   width: 170px;
 }
}

@media screen and (min-width: 1200px) {
 /*Widen the fixed sidebar again */
 .bs-sidebar.affix-bottom,
 .bs-sidebar.affix {
  width: 200px;
}
}

@media screen and (min-width: 768px) {
 .bs-sidebar.affix {
  position: fixed;
  height: 100%;
}
}

.tooltip, .tooltip-inner{
  text-shadow:0 0 0 transparent;
}
.pagination{
  display:block;
  margin: 0;
}

.nav-tabs>>ul>>li>>a{
  color:#3a87ad;
}

.dataTable th.headerSort {
  background-image: url('../images/headerSort.gif');
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 21px;
}

.dataTable th.headerSortUp {
  background-image: url('../images/headerSortUp.gif');
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 21px;
}

.dataTable th.headerSortDown {
  background-image: url('../images/headerSortDown.gif');
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 21px;
}

.table>thead>tr>th{
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .container {
    width: 1270px;
  }
}

.panel-title-with-btn {
  margin-bottom: 10px;
}

.checkbox-horizontal{
  float: left;
  padding-right: 9px;
}
@media print{
  body {
    font-size: 10px;
  }
  legend{
    font-size: 16px;
  }
  .page-break{
    page-break-after: always; 
    page-break-inside: avoid;
  }
}
.checkbox-nba
{
  margin:0;
}
/*@page{
  margin:0px ;
  }*/
#result-column {
  margin: 0 auto;
  width: 960px;
  padding: 20px;
  /*border: 1px solid #7b829c;*/
  background-color: #fbfcf6;
}
#logo-column {
  float:left;
  max-width: 20%;
  /*border: 1px solid black;*/
}
#header-column {
  float: left;
  width: 80%;
  /*border: 1px solid black;*/
}
#grade-column {
  clear:both;
}
.color {
  color: #7b829c;
}
b.color {
  font-size: 1.1em;
}
#info-table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}
#grades-table {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #7b829c;
  border-collapse: collapse;
}
#grades-table th{
  color: #7b829c;
  padding: 10px;
  border: 1px solid #7b829c;
  font-size: 1.1em;
}
#grades-table tr{
  border: 1px solid #7b829c;
}
#grades-table td{
  border: 1px solid #7b829c;
  padding: 7px;
}
#gpa-table td{
  padding: 10px;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding:0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: -15px;
    padding-left: -15px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}